<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="http://www.tmall.com" target="_blank">天猫</a>|
            <a class="link" href="https://www.taobao.com" target="_blank">淘宝</a>|
            <a class="link" href="#" target="_blank">关于我们</a>|
            <a class="link" href="#" target="_blank">联系我们</a>|
            <a class="link" href="#" target="_blank">联系客服</a>|
            <a class="link" href="#" target="_blank">合作招商</a>|
            <a class="link" href="#" target="_blank">商家帮助</a>|
            <a class="link" href="#" target="_blank">营销中心</a>|
            <a class="link" href="#" target="_blank">友情链接</a>|
            <a class="link" href="#" target="_blank">销售联盟</a>|
            <a class="link" href="#" target="_blank">风险监测</a>|
            <a class="link" href="#" target="_blank">隐私政策</a>|
            <a class="link" href="#" target="_blank">E-Com公益</a>
        </div>
        <p class="copyright">
            Copyright © 2018 e.cmmerce.com All Right Reserved
        </p>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>