<div class="header">
    <div class="w clearfix">
        <div class="logo"><a href="./index.html">E-Com</a></div>
        <div class="search-con">
            <input type="text" class="search-input" id="search-input" placeholder="运动相机"/>
            <button class="btn search-btn" id="search-btn" value="搜索">搜索</button>
        </div>
        <div class="search-car">
            <a href="#" class="link-text">我的购物车</a>
            <i class="search-car-gwc fa fa-shopping-cart"></i>
            <i class="search-car-jt fa fa-angle-right"></i>
            <i class="search-car-mag">6</i>
        </div>
        <div class="search-moreAlink">
            <ul>
                <li><a class="link" href="#" class="col-red">30抵130</a></li>
                <li><a class="link" href="#">69元秒风扇</a></li>
                <li><a class="link" href="#">农用物资</a></li>
                <li><a class="link" href="#">200减40</a></li>
                <li><a class="link" href="#">啤酒叭</a></li>
                <li><a class="link" href="#">早教机</a></li>
                <li><a class="link" href="#">柠檬</a></li>
                <li><a class="link" href="#">0元试用</a></li>
                <li><a class="link" href="#">海苔</a></li>
            </ul>
        </div>
        <div class="car-fr">
            <!--<div class="car-shopping-over"></div>-->
            <div class="car-shopping">
                <div class="no-something">
                    <p class="fa fa-cart-arrow-down"><span>购物车中没有商品，赶紧选购吧</span></p>
                </div>
            </div>
        </div>
        <!--<a class="logo" href="./index.html">E-Com</a>-->
        <!--<div class="search-con">-->
            <!--<input class="search-input" id="search-input" placeholder="请输入商品名称"/>-->
            <!--<button class="btn search-btn" id="search-btn">搜索</button>-->
        <!--</div>-->
    </div>
</div>