<div class="nav">
    <div class="w">
        <div class="fl">
            <div class="nav-send">
                送至：<span>黑龙江</span>
                <i class="fa fa-angle-down"></i>
            </div>
            <div class="nav-city">
                <table>
                    <tr>
                        <td class="link">北京</td>
                        <td class="link">上海</td>
                        <td class="link">广州</td>
                        <td class="link">深圳</td>
                        <td class="link">福建</td>
                    </tr>
                    <tr>
                        <td class="link">成都</td>
                        <td class="link">重庆</td>
                        <td class="link">天津</td>
                        <td class="link">武汉</td>
                        <td class="link">湖南</td>
                    </tr>
                    <tr>
                        <td class="link">杭州</td>
                        <td class="link">南京</td>
                        <td class="link">湖北</td>
                        <td class="link">西安</td>
                        <td class="link">浙江</td>
                    </tr>
                    <tr>
                        <td class="link">河北</td>
                        <td class="link">山西</td>
                        <td class="link">河南</td>
                        <td class="link">江苏</td>
                        <td class="link">贵州</td>
                    </tr>
                    <tr>
                        <td class="link">陕西</td>
                        <td class="link">广西</td>
                        <td class="link">甘肃</td>
                        <td class="link">宁夏</td>
                        <td class="link">云南</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="user-info">
            <span class="user not-login">
                <span class="link js-login">登录</span>
                <span class="link js-register">注册</span>
            </span>
            <span class="user login">
                <span class="link-text">
                    欢迎，
                    <span class="username"></span>
                </span>
                <span class="link js-logout">退出</span>
            </span>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
                <a class="link" href="./cart.html">
                    <i class="fa fa-shopping-cart"></i>
                    购物车(<span class="cart-count">0</span>)
                </a>
            </li>
            <li class="line"></li>
            <li class="nav-item">
                <a class="link" href="./user-center.html">我的E_Com</a>
            </li>
            <li class="line"></li>
            <li class="nav-item">
                <a class="link" href="./order-list.html">我的订单</a>
            </li>
            <li class="line"></li>
            <li class="nav-item">
                <a class="link" href="./about.html">关于E-Com</a>
            </li>
        </ul>
    </div>
</div>